.checklist {
  padding: 30px 0;
}

.light .checklist:not(:last-child) {
  border-bottom: 1px solid var(--sage);
}
.dark .checklist:not(:last-child) {
  border-bottom: 1px solid var(--camel);
}

@media (min-width: 640px) {
  .checklist {
    padding: 0;
    border-bottom-color: transparent !important;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.counter {
  font-size: 12px;
  font-weight: 400;
}

.list {
  list-style: none;
  padding: 0;
  margin: 15px 0 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  border-radius: 3px;
  min-height: 40px;
  align-items: center;
  margin: 10px 0;
  min-width: 200px;
}
.light .item {
  background-color: var(--sage);
  color: var(--lightSage);
}
.dark .item {
  background-color: var(--camel);
  color: var(--lightCamel);
}

form {
  width: 100%;
}

input {
  width: 100%;
  border: 0;
  background: transparent;
  font-size: 16px;
  padding: 0;
}
.light input {
  color: var(--lightSage);
}
.dark input {
  color: var(--lightCamel);
}

.light input:focus {
  outline: none;
  border-bottom: 1px solid var(--lightSage);
}
.dark input:focus {
  outline: none;
  border-bottom: 1px solid var(--lightCamel);
}

.light input::placeholder {
  color: var(--darkSage);
}
.dark input::placeholder {
  color: var(--darkCamel);
}

.item div {
  cursor: pointer;
  min-width: 50%;
}

.light .done {
  text-decoration: line-through;
  color: var(--darkSage);
}
.dark .done {
  text-decoration: line-through;
  color: var(--darkCamel);
}

.delete {
  cursor: pointer;
  flex-shrink: 0;
  margin-left: 10px;
  width: 20px;
  text-align: center;
  transition: color 0.2s;
  font-size: 20px;
}
.light .delete {
  color: var(--darkSage);
}
.dark .delete {
  color: var(--darkCamel);
}

button {
  height: 25px;
  width: 25px;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.2s;
  border-radius: 3px;
  font-weight: bold;
}
.light button {
  color: var(--lightSage);
  background-color: var(--sage);
}
.dark button {
  color: var(--lightCamel);
  background-color: var(--camel);
}

.emptyState {
  border-radius: 3px;
  border: 1px dotted transparent;
  margin: 15px 0 20px;
  padding: 10px;
  text-align: center;
  font-weight: 300;
}

.light .emptyState {
  color: var(--sage);
  border-color: var(--sage);
}
.dark .emptyState {
  color: var(--camel);
  border-color: var(--camel);
}