* {
  box-sizing: border-box;
}

:root {
  /* light */
  --lightSage: #e0ead3;
  --sage: #a0b086;
  --darkSage: #77815C;

  /* dark */
  --darkCamel: #24211f;
  --camel: #b88f4a;
  --lightCamel: #f0dcbb;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App.light {
  background-color: var(--lightSage);
  color: var(--darkSage);
}
.App.dark {
  background-color: var(--darkCamel);
  color: var(--lightCamel);
}

h1 {
  font-size: 36px;
  font-weight: 100;
  margin: 30px 0 0;
}

h2 {
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 30px;
  width: 100%;
  max-width: 960px;
  min-height: 505px;
}
@media (min-width: 640px) {
  .container {
    padding: 0 50px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 50px;
  width: 100%;
}
@media (min-width: 640px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 80px;
  }
}
@media (min-width: 960px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.clock {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
}
.light .clock {
  color: var(--sage);
}
.dark .clock {
  color: var(--camel);
}
@media (min-width: 640px) {
  .clock {
    font-size: 150px;
  }
}

.date {
  font-size: 24px;
  font-weight: 100;
}
@media (min-width: 640px) {
  .date {
    font-size: 36px;
  }
}

.gitHub {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 16px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: background-color 0.2s;
  position: absolute;
  top: 0;
  left: 30px;
}
@media (min-width: 640px) {
  .gitHub {
    left: 0;
  }
}
.light .gitHub {
  background-color: var(--sage);
  color: var(--lightSage);
}
.dark .gitHub {
  background-color: var(--camel);
  color: var(--lightCamel);
}

.gitHub svg {
  margin-right: 10px;
  width: 22px;
  height: 22px;
}
.light .gitHub svg {
  fill: var(--lightSage);
}
.dark .gitHub {
  fill: var(--lightCamel);
}

.themeSwitch {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 16px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: background-color 0.2s;
  position: absolute;
  top: 0;
  right: 30px;
}
@media (min-width: 640px) {
  .themeSwitch {
    right: 0;
  }
}
.light .themeSwitch {
  background-color: var(--sage);
  color: var(--lightSage);
}
.dark .themeSwitch {
  background-color: var(--camel);
  color: var(--lightCamel);
}

.toggle {
  height: 20px;
  width: 40px;
  border-radius: 20px;
  margin: 0 10px;
  border: 1px solid transparent;
}
.light .toggle {
  border-color: 1px solid var(--lightSage);
}
.dark .toggle {
  border: 1px solid var(--lightCamel);
}

.toggle .O {
  margin: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
}
.light .toggle .O {
  background-color: var(--lightSage);
}
.dark .toggle .O {
  margin-left: 22px;
  background-color: var(--lightCamel);
}